@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0;
    margin: auto;
}
html{
    scroll-behavior: smooth;
}

/* All similar styling codes */
section{
    padding: 100px 0;
}
.about, .education, .skills, .achievement, .project, .contact , footer{
    font-family: 'Poppins',sans-serif;
}
.about .about-content, 
.education .education-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.title{
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}

.title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 220px;
    height: 3px;
    background: black;
    transform: translate(-50%);
}
.title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    background: wheat;
    color: crimson;
    transform: translate(-50%);
}
.click{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 27px;
    border-radius: 8px;
    font-weight: 300;
    padding: 12px 26px;
    margin-top: 8px;
    transition: all 0.3s ease;
}
.click:hover{
    border: 2px solid crimson;
    color: crimson;
    background: none;
}

/* Navbar Styling */

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: "Ubuntu",sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background-color: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: white;
}
.navbar .menu li {
    list-style:none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 12px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
    font-size: 20px;
}
.navbar.sticky .menu li a:hover{
    color: black;
}
/* Menu button styling */
.menu-btn{
    width: 40px; 
    height: 40px;
    color:white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease; 
}
.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
   
}

/* Home Section Styling */

.home{
    display: flex;
    background-size: cover;
    background-attachment:fixed;
    height: 100vh;
    color: white;
    font-family: "Ubuntu",sans-serif;
    min-height: 500px;
}

.home .max-width{
     margin: auto 0 auto 60px;
}
.home .back-vid{
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}


/* About Styling */

.about .title::after{
    content: "WHO I AM?";
    font-size:17px;
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
   height: 400px;
   width: 400px;
   object-fit: cover;
   border-radius: 50%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 33px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
    font-size: 19px;
}
.about .about-content .right a{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

/* Education Qualification */
.education, .achievement{
    color: white;
    background: rgb(0, 0, 8);
}
.education .title::before{
    background: white;
    width: 540px;
}
.education .title::after{
    content: "MY EDUCATION";
    font-size:17px;
    background: #111;
}
.education .education-content .card{
    width: calc(33% - 23px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    height: 440px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.education .education-content .card .box{
    transition: all 0.3s ease;
}
.education .education-content .card:hover{
    background: crimson;
}
.education .education-content .card:hover .box{
    transform: scale(1.05);
}
.education .education-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.education .education-content .card :hover i{
    color: white;
}

.education .education-content .card .text{
    font-size: 30px;
    font-weight: 500;
    padding-top: 8px;
    margin: 10px 0 7px 0;
}
.education .education-content .card h3{
    
    color: rgb(212, 36, 45);
    text-align: left;
   margin: 25px  20px 25px 0;
  
}
.education .education-content .card ul li{
    font-size: 18px;
   text-align: left;
   margin-bottom: 10px;
   margin-left: 30px;
}
.education .education-content .card :hover h3{
    color: white;
}

/* Skills Styling */

.skills .title::after{
    content: "WHAT I KNOW?";
    font-size:17px;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
             
}
.skills .skills-content .column .text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .column p{
    font-size: 20px;
    text-align: justify;
}
.skills .skills-content .left a{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
 padding-left: 100px;
}
.skills .skills-content .right i{
    font-size: 18px;
    margin-right: 10px;
    color: crimson;
}
.skills .skills-content .right .line{
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background: lightgray;
}
.skills .skills-content .right .bars .info span{
    font-size: 18px;
    font-weight: 550;
}

/* Achievement section stylling */

.achievement .title::before{
    width: 800px;
    background: white;
}
.achievement .title::after{
    content: "WHAT I ACHIEVED AND EXPERIENCED";
    font-size:17px;
    background: #111;
}
.achievement .carousel .card,
.project .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.achievement .carousel .card:hover,
.project .carousel .card:hover{
    background: crimson;
}
.achievement .carousel .card .box,
.project .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.achievement .carousel .card .box p span{
    color: crimson;
    font-weight: 600;
}
.achievement .carousel .card:hover p span{
    color: #111;
}
.achievement .carousel .card:hover .box,
.project .carousel .card:hover .card{
   transform: scale(1.05);
}
.achievement .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot.hover{
    background: crimson!important;
    border: 2px solid #222!important;
}

/* Project Section Stylling */

.project .title::after{
    content: "MY PROJECTS";
    font-size:17px;
}
.project .title::before{
    width: 280px;
}
.project .carousel .card{
    background: #222;
    padding: 4px;
}
.project .carousel .card img{
    border-radius: 6px;
    height: 200px;
    width: 100%;
}

/* Contact Stylling */
.contact{
    background: black;
    color: #fff;
   
}

.contact .title::before{
    width: 300px;
    background: white;
}
.contact .title::after{
    content: "GET IN TOUCH";
    font-size:17px;
    background: #111;
}

.contact .contact-content .coloumn{
    width: calc(50% - 30px);
    padding-left: 50px;
}
.contact .contact-content .text{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
    cursor: pointer;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .row .info a{
    color: #fff;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: wheat;
}
.contact .link{
    margin: 20px;
}
.contact .link a{
    font-size: 23px;
    font-weight: 500;
    color: white;
}
.contact .link i{
    color: crimson;

}
.contact .link a span{
    margin-left: 30px;
    transition: all 0.3s ease-in;
}
.contact .link a:hover span{
    background-color: rgb(17, 19, 20);
    color: crimson;
    padding: 5px;
    border-radius: 5px;
}
.contact .link a:hover i{
    color: wheat;
}
#profile-view{
    padding: 10px 0;
    color:#fff;
    background-color: #000;
    display: none;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 22px 20px;
}
footer span a{
    color: crimson;
}
footer span a:hover{
    text-decoration: underline;
}












































/* responsive media query start */

@media (max-width:1400px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width:1204px){
      .home .max-width{
          margin-left: 0px;
      }
      .about .about-content .left img{
        height: 350px;
        width: 350px;
     }
    .education .education-content .card{
        height: 460px;
     }
     .education .education-content .card ul li{
        font-size: 16px;
    }
}

@media (max-width:1050px) {
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display:block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 18px 0;
        font-size: 25px;
    }
    .about .title::before{
        width: 180px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 18px;
    }
    .max-width{
        max-width: 800px;
    }
    .title{
        font-size: 40px;
    }
    .education .title::before{
        width: 440px;
    }
   
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content:center ;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content .right p{
        font-size: 17px;
    }
    .education .education-content .card{
        width: calc(50% - 10px);
        height: 360px;
        margin-bottom: 23px;
    }
    .education .education-content .card i{
        font-size: 40px;
    }
    .education .education-content .card .text{
        font-size: 25px;
    }
    .education .education-content .card h3{
        margin: 10px 0px 10px 0 ;
    }
    .education .education-content .card ul li{
        font-size: 15px;
    }
    .skills .skills-content .right .info{
        padding-left: 0px;
    }
    .achievement .title::before{
        width: 630px;
    }
    .achievement .title::after{
        bottom: -13px;
    }
    .project .title::before{
        width: 240px;
    }
    .contact .title::before{
        width: 220px;
    }
    .contact .link a{
        font-size: 21px;
    }
}

@media (max-width:991px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width:740px){
    .education .education-content .card{
        width: 100%;
       height: 310px;
     }
    .skills .skills-content .column{
        width: 100%;
       padding-left: 0px;
    }
    .skills .skills-content .right{
      padding-top: 50px;
    }
    .achievement .title::before{
        width: 450px;
    }
    .achievement .title::after{
        font-size: 17px;
    }
    .contact .contact-content .coloumn{
        width: 100%;
        padding-left: 5%;
    }
    .contact .contact-content .left{
        margin-bottom: 50px;
    }

}
@media (max-width:690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 8px 16px;
    }

    .title::after{
        bottom: -14px;
    }
    .achievement .title::after{
        font-size: 14px;
    }
    .contact .link a{
        font-size: 19px;
    }
    .contact .container{
        display: inline-block;
        padding-left: 20%;
    }
}
@media (max-width:500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .home .home-content a{
        font-size: 18px;
        padding: 7px 14px;
    }
    .education .title::before{
        width: 300px;
    }
    .education .education-content .card{
       height: 350px;
     }
     .skills .title::before{
        width: 160px;
    }
    .achievement .title::after{
        bottom: -23px;
     }
    
}
@media (max-width:380px) {
    .title{
        font-size:30px ;
    }
    .title::after{
        bottom: -14px;
        font-size: 16px;
    }
    .education .title::before{
        width: 230px;
    }
    .education .education-content .card{
        height: 400px;
      }
    .achievement .title::before{
        width: 310px;
    }
    .achievement .title::after{
       bottom: -25px;
    }
    .project .title::before{
        width: 170px;
    }
    .contact .title::before{
        width: 170px;
    }
    .contact .container{
        padding-left: 0%;
    }
}
@media (max-width:290px) {
    
    .education .title::after{
        bottom: -20px;
        background: black;
        font-size: 13px;
    }
    .skills .title::after{
        font-size: 15px;
    }
    .education .education-content .card{
        height: 480px;
      }
    .education .education-content .card ul li{
        font-size: 13px;
        text-align: left;
        margin-bottom: 10px;
    }
    .achievement .title::after{
        font-size: 11px;
    }
    .achievement .title::before{
        width: 240px;
    }
}
